@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
body {
  background: #f5f5f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
